[user]
	name = scabbage
	email = thescabbage@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
	templateDir = ~/.git-templates
[core]
	editor = nvim
	hooksPath = /home/scabbage/.config/git/hooks/
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
	repo = /home/scabbage/projects/dust
[rerere]
	enabled = true
[fetch]
	writeCommitGraph = true
[pull]
	rebase = true
[rebase]
	autostash = false
